{% extends 'base.html' %}

{% block content %}

<div class="container">


  <script src="/static/js/about.js"></script>

<h2>About</h2>
  <h3>What makes writing good?</h3>
  <p>Good writing takes the readers by the hand and pulls them through the story. The reader isn't consciously aware that they are reading, just that they are absorbing a story. The story goes from the pages of the book into the mind of the reader, and the medium of reading is forgotten. Bad or clumsy writing can jerk the reader out of the story, just like bad acting can remind the viewer that they are watching a movie.

<h3>Can good writing be learned?</h3>
<p>Yes! And StyleStudio can take you there. We've been through all sorts of style guides, from the classic "title" up to modern guides to best sellers. And we've converted it all into one easy-to-use program for you. Just copy and paste your text into the window and hit "go!" It's like having the best and most influential writing coaches and global thought leaders right at your fingertips.</p>


<p>If you want, copy over some text that you want to emulate and we'll let you know what makes it great.</p>

<h3>Light verbs</h3>
<p>Light verbs are verb that have little meaning on their own, almost like filler verbs. While light verbs are certainly not wrong, be careful about using them too often. It can make your writting filled with fluff. Sentences with light verbs often contain nouns that could replace the light verb. For example:</p>
<p>I did the review of your text</p>
<p>This could become:</p>
<p>I reviewed your text</p>


</div>

  {% endblock %}