{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row">

      <form role="form" method='POST' action='#'>
        <textarea class="form-control" id="user-text" name="contents" placeholder="Enter your text here"></textarea>
        
      </form>
        <button type="button" id="analyze-button" class="btn btn-default">Go!</button>
  </div>

  <script src="/static/js/index.js"></script>

  <div class="container">
    <h2>Results</h2>

    <div class="row">

      <div class="col-md-4 column-right">

        <div id="metrics-tables">
          <table class="table table-striped" style="max-width: 300px;">
            <thead>
              <tr>
                <th>Metric</th>
                <th>Result</th>
              </tr>
            </thead>

            <tr> <td>Words</td> <td id="num-words"></td> </tr>
            <tr> <td>Average word size</td> <td id="ave-words"></td> </tr>
            <tr> <td>Reading grade level</td> <td id="fk-score"></td> </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <form method="POST" action="#">
      <textarea class="form-control" name="contents" placeholder="Are we missing something? Enter your feature requests here!"></textarea>
      <button type="submit" class="btn btn-default">Send request</button>
    </form>
  </div>




<style>
      @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Mono);

      body {
        max-width: 900px;
        margin: 40px auto;
        font: 18px/1.4 'Open Sans', sans-serif;
        color: #555;
        background-color: #eee;
      }

      a {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #fff;
        border-radius: 10px;
        color: #fff;
        background-color: #777;
        text-decoration: none;
      }

      section {
        margin-top: 60px;
      }

      script {
        display: block;
        margin-top: 10px;
        padding-left: 10px;
        border-left: 8px solid #ccc;
        white-space: pre-wrap;
        font: 14px/1.4 'Roboto Mono', sans-serif;
      }

      /* background and positioning */
      .hwt-container {
        background-color: #fff;
      }

      /* size and formatting */
      .hwt-content {
        width: 500px;
        height: 100px;
        padding: 20px;
        color: #555;
        font: 18px/25px 'Roboto Mono', sans-serif;
      }

      /* highlights */
      .hwt-content mark {
        border-radius: 3px;
      }
      .hwt-content mark:nth-of-type(2n) {
        background-color: #cfdeab;
      }
      .hwt-content mark:nth-of-type(2n+1) {
        background-color: #b1d5e5;
      }
    </style>




    <h1>Highlight Within Textarea</h1>


    <section>
      <h2>Using Regex</h2>
      <p>You can specify an onInput callback that returns a regex. Text matched by the regex will be highlighted. This example simply highlights all numbers.</p>
      <textarea class="regex-example">1600 Pennsylvania Ave NW, Washington, DC 20500</textarea>
      <script>
function onInputRegex(input) {
  return /\d+/g;
}

$('textarea.regex-example').highlightWithinTextarea(onInputRegex);
      </script>
    </section>






    <section>
      <h2>This is my test section</h2>
      <p>A common use test sections is to make stuff up.</p>
      <textarea class="test-example">There are about 5,000 sections worldwide. Three thousand of them are found in the Andes alone, mainly in Peru, Bolivia, Ecuador, Chile, and Colombia.</textarea>
   <script src="/static/js/index.js"></script>
    </section>









    <section>
      <h2>Using Regex Again</h2>
      <p>A common use case is to highlight from a list of 1 or more strings. This is easily done with regex. This example highlights certain country names.</p>
      <textarea class="regex-again-example">There are about 5,000 potato varieties worldwide. Three thousand of them are found in the Andes alone, mainly in Peru, Bolivia, Ecuador, Chile, and Colombia.</textarea>
      <script>
function onInputRegexAgain(input) {
  return /chile|ecuador|peru/gi;
}

$('textarea.regex-again-example').highlightWithinTextarea(onInputRegexAgain);
      </script>
    </section>

    <section>
      <h2>Using Array</h2>
      <p>The onInput callback can also return an array of arrays to specify highlights by character position. Each inner array has 2 values: a starting index (inclusive) and an ending index (exclusive). This example highlights the first 10 characters and the last 10 characters, as long as there are enough characters to do so.</p>
      <textarea class="array-example">Bears are mammals of the family Ursidae.</textarea>
      <script>


$('textarea.array-example').highlightWithinTextarea(onInputArray);
      </script>
    </section>













  {% endblock %}